
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
    outline: none
}

a:hover,
a:active {
    color: #355fab
}

ol,
ul,
li {
    padding: 0;
    list-style: none;
    margin: 0
}

label {
    font-weight: normal
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding-left: 12px;
    padding-right: 12px
}

select {
    padding-left: 8px
}

input[type="number"] {
    padding-left: 5px
}

textarea {
    padding: 8px 12px 5px 12px
}

input,
textarea,
select,
button,
a {
    outline: none
}

button {
    border: none;
    background: none
}

button:focus {
    outline: none
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
    object-fit: cover
}

.relative {
    position: relative
}

.static {
    position: static
}

.absolute {
    position: absolute
}

.text-justify {
    text-align: justify
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    clear: both
}

.row-ibl {
    font-size: 0
}

.row-ibl>[class^="col-"] {
    font-size: 14px;
    float: none;
    display: inline-block;
    vertical-align: top
}

.row-ibl:after {
    content: '';
    display: inline-block;
    width: 100%
}

.row-ibl.mid>[class^="col-"] {
    vertical-align: middle
}

.row-ibl.bot>[class^="col-"] {
    vertical-align: bottom
}

.bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed
}

.back-to-top {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #b79200;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    opacity: .8;
    z-index: 999;
    position: fixed;
    bottom: 30px;
    right: 15px;
    display: none;
    color: #fff
}

.back-to-top:hover {
    opacity: 1
}

.reset-breadcrumb {
    background-color: #eeeaea;
    color: #999999;
    font-size: 14px
}

.reset-breadcrumb .breadcrumb {
    background-color: #eeeaea
}

.reset-breadcrumb .breadcrumb li {
    position: relative
}

.reset-breadcrumb .breadcrumb li:not(:last-child) {
    margin-right: 15px
}

.reset-breadcrumb .breadcrumb li:not(:last-child):before {
    content: "\f105";
    position: absolute;
    right: -10px
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block
}

.te-pagination {
    text-align: center;
    font-size: 12px;
    color: #3660ac;
    font-weight: bold;
    margin-bottom: 20px
}

.te-pagination a,
.te-pagination strong {
    display: inline-block;
    padding-bottom: 1px;
    position: relative
}

.te-pagination a:not(:first-child),
.te-pagination strong:not(:first-child) {
    margin-left: 40px
}

.te-pagination a:hover:before,
.te-pagination strong:hover:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #3660ac;
    position: absolute;
    bottom: 0
}

.te-pagination strong {
    margin-left: 40px
}

.te-pagination strong:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #3660ac;
    position: absolute;
    bottom: 0
}

.star-rating .star-base {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/gray.png);
    height: 16px;
    font-size: 0;
    position: relative
}

.star-rating .star-base .star-rate {
    background-image: url(../images/orange.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none
}

.star-rating .star-base a {
    width: 16px;
    height: 16px;
    display: inline-block
}

.bold {
    font-family: "Roboto-Bold"
}

.flex50 {
    width: 50%
}

.flex100 {
    width: 100%
}

.flex50-md {
    width: 50%
}

.flex50-sm {
    width: 50%
}

.hidden {
    display: none
}

.title-before {
    font-family: "Roboto-Bold";
    color: #3660ac
}

.title-before span {
    display: inline-block;
    position: relative
}

.title-before span:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #375fac
}

@font-face {
    font-family: 'UTM';
    src: url("../fonts/UTM/UTM Helve.ttf") format("truetype")
}

@font-face {
    font-family: 'UTM-Bold';
    src: url("../fonts/UTM/UTM HelveBold.ttf") format("truetype");
    font-weight: bold
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype")
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: bold
}

@font-face {
    font-family: "Roboto-Italic";
    src: url("../fonts/Roboto/Roboto-Italic.ttf")
}

.pad-20 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px
}

.pad-0-20 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px
}

.pad-20-0 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px
}

.margin-auto {
    margin-left: auto;
    margin-right: auto
}

.col-mar-0 {
    margin-left: 0px;
    margin-right: 0px
}

.col-mar-0>div[class^="col-"] {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px
}

.col-mar-5 {
    margin-left: -5px;
    margin-right: -5px
}

.col-mar-5>div[class^="col-"] {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px
}

.col-mar-8 {
    margin-left: -8px;
    margin-right: -8px
}

.col-mar-8>div[class^="col-"] {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px
}

.col-mar-10 {
    margin-left: -10px;
    margin-right: -10px
}

.col-mar-10>div[class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px
}

.mar-bot40 {
    margin-bottom: 40px
}

.mar-bot30 {
    margin-bottom: 30px
}

.mar-bot20 {
    margin-bottom: 20px
}

.mar-bot25 {
    margin-bottom: 25px
}

.mar-bot15 {
    margin-bottom: 15px
}

.mar-bot10 {
    margin-bottom: 10px
}

.mar-bot5 {
    margin-bottom: 5px
}

.mar-bot35 {
    margin-bottom: 35px
}

.mar-top10 {
    margin-top: 10px
}

.mar-top20 {
    margin-top: 20px
}

.delay02 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -ms-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s
}

.delay04 {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -ms-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s
}

.delay06 {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s
}

.row10 {
    margin-left: -10px;
    margin-right: -10px
}

.row125 {
    margin-left: -12.5px;
    margin-right: -12.5px
}

.row85 {
    margin-left: -8.5px;
    margin-right: -8.5px
}

.row75 {
    margin-left: -7.5px;
    margin-right: -7.5px
}

.row0 {
    margin-left: 0px;
    margin-right: 0px
}

.row20 {
    margin-left: -20px;
    margin-right: -20px
}

.col10 {
    padding-left: 10px;
    padding-right: 10px
}

.col25 {
    padding-left: 25px;
    padding-right: 25px
}

.col85 {
    padding-left: 8.5px;
    padding-right: 8.5px
}

.col75 {
    padding-left: 7.5px;
    padding-right: 7.5px
}

.col0 {
    padding-left: 0px;
    padding-right: 0px
}

.col125 {
    padding-left: 12.5px;
    padding-right: 12.5px
}

.col20 {
    padding-left: 20px;
    padding-right: 20px
}

.absolute0 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.font-roboto {
    font-family: "Roboto"
}

.font-roboto-bold {
    font-family: "Roboto-Bold"
}

.font-utm-bold {
    font-family: "UTM-Bold"
}

.fs24 {
    font-size: 24px
}

.fs18 {
    font-size: 18px
}

.fs22 {
    font-size: 22px
}

.fs30 {
    font-size: 30px
}

.fs20 {
    font-size: 20px
}

.fs14 {
    font-size: 14px
}

.fs40 {
    font-size: 40px
}

.mrr5 {
    margin-right: 5px
}

.mrr20 {
    margin-right: 20px
}

.mrr25 {
    margin-right: 25px
}

.mrl10 {
    margin-left: 10px
}

.mrl20 {
    margin-left: 10px
}

.xanh {
    color: #3561ac
}

.xanh2 {
    color: #3660ac
}

.text3line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

.text2line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.text4line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical
}

.text5line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical
}

.text6line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center
}

.c-img {
    display: block;
    position: relative;
    padding-top: 100%
}

.c-img img,
.c-img .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit
}

.hv-over {
    display: block;
    position: relative
}

.hv-over:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    pointer-events: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.hv-over:hover:after {
    background: rgba(53, 95, 171, 0.4)
}

.hv-scale {
    overflow: hidden;
    display: block
}

.hv-scale img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.hv-scale:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.hv-light {
    display: inline-block;
    vertical-align: top;
    display: block;
    position: relative;
    overflow: hidden;
    background: #fff
}

.hv-light:before,
.hv-light:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none
}

.hv-light:before {
    right: 0;
    bottom: 0;
    background: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.hv-light:after {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: 0.75s ease-in-out;
    -moz-transition: 0.75s ease-in-out;
    -ms-transition: 0.75s ease-in-out;
    -o-transition: 0.75s ease-in-out;
    transition: 0.75s ease-in-out;
    -webkit-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    -moz-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    -o-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    -ms-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0)
}

.hv-light:hover:before {
    background: rgba(242, 211, 0, 0.2)
}

.hv-light:hover:after {
    -webkit-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    -moz-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    -o-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    -ms-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0)
}

.smooth {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

@media all and (max-width: 1199px) {
    .md-left {
        text-align: left
    }
    .md-center {
        text-align: center
    }
    .md-right {
        text-align: right
    }
}

@media all and (max-width: 991px) {
    .sm-left {
        text-align: left
    }
    .sm-center {
        text-align: center
    }
    .sm-right {
        text-align: right
    }
    .hidden-md {
        display: none
    }
    .fs24 {
        font-size: 18px
    }
    .fs22 {
        font-size: 17px
    }
    .fs30 {
        font-size: 20px
    }
    .fs20 {
        font-size: 18px
    }
    .fs40 {
        font-size: 24px
    }
    .flex50-md {
        width: 100%
    }
    .show-md {
        display: block
    }
}

@media all and (max-width: 767px) {
    .xs-left {
        text-align: left
    }
    .xs-right {
        text-align: right
    }
    .hidden-sm {
        display: none
    }
    .mrb-25auto-sm {
        margin: 0 auto 25px auto
    }
    .flex50-sm {
        width: 100%
    }
    .show-sm {
        display: block
    }
}

.s-content {
    margin-bottom: 20px
}

.s-content ol {
    list-style: decimal;
    margin-left: 15px;
    margin-bottom: 10px
}

.s-content ul {
    list-style: initial;
    margin-left: 15px;
    margin-bottom: 10px
}

.s-content li {
    list-style: inherit;
    margin-bottom: 5px
}

.s-content p {
    margin-bottom: 10px
}

.s-content img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
    width: auto !important;
    height: auto !important
}

.s-content table,
.s-content iframe {
    max-width: 100%
}

.s-content .aligncenter {
    display: block;
    text-align: center;
    margin: auto
}

.s-content .alignright {
    display: block;
    text-align: right;
    margin-left: auto
}

.s-content .alignleft {
    display: block;
    text-align: left;
    margin-right: auto
}

@media (max-width: 480px) {
    .col-480-12 {
        width: 100% !important
    }
    .hidden-xs {
        display: none
    }
    .show-xs {
        display: block
    }
    .xs-center {
        text-align: center
    }
}

.s-social .fb_iframe_widget,
.s-social a.pinterest {
    display: inline-block;
    vertical-align: top;
    margin-top: -1px
}

.mar-r-10 {
    margin-right: 10px
}

.bold-upper {
    text-transform: uppercase;
    font-weight: bold
}

.thumbnail {
    border: none;
    margin-bottom: 0px;
    padding: 0;
    padding-top: 50%;
    position: relative;
    border-radius: 0
}

.thumbnail img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%
}

.slick-dots {
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: center
}

.slick-dots li {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 7px;
    position: relative
}

.slick-dots li button {
    opacity: 0
}

.slick-dots li:after {
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 2px;
    left: 2px;
    display: none
}

.slick-dots .slick-active:after {
    display: block
}

html {
    font-size: 10px
}

body {
    font-family: 'Roboto';
    color: #232323;
    margin: 0 auto;
    overflow-x: hidden;
    font-size: 14px
}

header #open-menu,
header #open-search-form {
    position: absolute;
    top: 55px;
    font-size: 20px;
    display: none;
    z-index: 99
}

header #open-menu {
    left: 15px
}

header #open-search-form {
    right: 15px
}

header .header-top {
    background:   #0CACA7 !important;
}

header .header-top .header-text-top {
    padding: 17px 0;
    background-color: #fff;
    text-transform: uppercase
}

header .header-top .header-langauge {
    float: right;
    padding: .8rem 0;
    color:white;
}
header .header-top .header-langauge .dropdown-menu{
       padding: 0;
}
header .header-top .header-langauge .dropdown-menu .dropdown-item :hover {
        background: #0CACA7;
        color: white;
}
header .header-top .header-langauge img {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    margin: 0 10px;
}

header .header-center #search-form-mobile {
    width: 100%;
    display: none;

}

header .header-center #search-form-mobile input {
    width: 100%;
    border: 2px solid #0CACA7;
}

header .header-center #search-form-mobile button {
    position: absolute;
    right: 25px;
    top: 3px;
    color: #0CACA7 ;
}

header .header-center .main-nav {
    padding-top: 2.5%
}

header .header-center .main-nav #remove-menu {
    padding: 10px;
    z-index: 10;
    cursor: pointer;
    display: none;
    text-align: right;
    display: none;
    color: #fff;
    z-index: 999
}

header .header-center .main-nav ul {
    font-size: 0
}

header .header-center .main-nav ul li {
    display: inline-block;
    position: relative
}

header .header-center .main-nav ul li:not(:last-child) {
    margin-right: 3% !important
}

header .header-center .main-nav ul li a {
    font-size: 14px;
    text-transform: uppercase;
}

header .header-center .main-nav ul li>i {
    position: absolute;
    right: -1.3rem;
    font-size: 14px;
    top: 3px
}

header .header-center .main-nav ul li:hover .sub-2 {
    display: block;
}

header .header-center .main-nav .sub-2 li:hover .sub-3 {
    display: block
}

header .header-center .main-nav ul li ul {
    display: none;
    position: absolute;
    top: 20px;
    width: 200px;
    text-align: left;
    padding-top: 2px;
    z-index: 1
}

header .header-center .main-nav ul li ul li {
    width: 100%;
    position: relative;
}
/*/////////////////////////////////////*/
header .header-center .main-nav ul li ul li a {
    background-color: #e1dddd;
    display: block;
    padding: 9px 0 9px 21px;
    color: #000;
    font-size: 15px;
}

header .header-center .main-nav ul #search-form-btn {
    font-size: 17px;
    line-height: 1
}

header .header-center .main-nav ul .search-form-header {
    border: 1px solid #0CACA7;
    margin-top: 22px;
    position: absolute;
    width: 350px;
    right: 0;
    top: calc(100% + 5px);
    display: none;
}
header .header-center .main-nav ul .search-form-header .fa{
    color: #0CACA7;
}

header .header-center .main-nav ul .search-form-header input {
    width: 100%;
    height: 30px;
    padding-right: 30px
}

header .header-center .main-nav ul .search-form-header button {
    font-size: 20px;
    position: absolute;
    right: 5px;
}
.header-center
{
    background: white !important;
}
@media only screen and (max-width: 1024px){
     header .header-center .main-nav ul li a
     {
        font-size: 12px;
     }
    header .header-center .main-nav ul li:not(:last-child) {
            margin-right: 1.7% !important;
    }
}

/*}
 .sub-3 {
    display: none;
    position: absolute;
    top: 20px;
    width: 200px;
    text-align: left;
    padding-top: 2px;
    z-index: 1;
    left: 200px !important;
    top: 4px !important;
}
*/
/*header .header-center .main-nav ul>li>ul>li>ul {
    display: none;
    position: absolute;
    top: 1px;
    width: 200px;
    text-align: left;
    padding-top: 2px;
    z-index: 1;
    left: 200px;
}*/
/*header .header-center .main-nav ul>li>ul>li:hover>ul {
    display: block
}

*/