body { font-family: Helvetica !important; background: #EBEBEB; font-size: 16px; }
body .fix-bt-giai-dau { margin-bottom: 20px; }
body .info-user { font-size: 16px; }
body .user { font-size: 16px; }
body .back-to-top { width: 40px; height: 40px; cursor: pointer; display: inline-block; background-color: #71bf44; font-size: 24px; text-align: center; line-height: 40px; z-index: 999; position: fixed; bottom: 30px; right: 10px; display: none; color: #fff; background: #004251; }
body .text-gt { margin-bottom: 50px; }
body .stiki { z-index: 99999 !important; }
body #back-to-top { position: fixed; bottom: 40px; right: 40px; z-index: 9999; width: 32px; height: 32px; text-align: center; line-height: 30px; background: #004251; color: #444; cursor: pointer; border: 0; border-radius: 2px; text-decoration: none; transition: opacity 0.2s ease-out; color: white; }
body .tournaments-system-content { font-size: 16px; }
body .tournaments-system-content .fa { font-size: 20px !important; color: #ccc; margin-right: 5px; }
body .fix-icon-all { font-size: 16px; }
body .fix-icon-all .fa { font-size: 20px !important; color: #ccc; margin-right: 5px; }
body a:hover { color: orange; }
body .top-content { width: 100%; }
body .big { text-transform: uppercase; font-weight: bold; font-size: 22px; text-align: left; }
body .dropdown { text-align: center; }
body .dropdown-menu { margin-top: 14px !important; }
body .dropdown-menu .dropdown-item:hover { background: red !important; }
body .time-fix { width: 100%; text-align: center; border-top: 1px dashed #8C8C8C; border-bottom: 1px dashed #8C8C8C; height: 50px; padding-top: 1.2%; }
body .all-menu { background: white; }
body .logo-1 { padding-bottom: 5px; }
body .logo-1 img { max-width: 100px; }
body .header-text-top { font-size: 10px; }
body .header-infor { width: 100%; background: #004251; padding: 10px; }
body .header-infor p { color: white; }
body .header-infor .form-dki { font-size: 16px; }
body .header-infor .form-dki .form-control { margin-top: 15px; }
body .header-infor .form-dki button { background: #F26F21; width: 100px; border: none; padding: 5px; margin-top: 16px; border-radius: 5px; border-radius: 5px; color: white; }
body .header-infor .form-dki input { color: black; }
body .modal { margin-top: 5%; }
body .modal .modal-dialog .modal-content .modal-body .time-leader { padding-top: 20%; padding-left: 5%; }
body .modal .modal-dialog .modal-content .fa-times { color: white; }
body .modal .modal-dialog .modal-content .modal-title { background: #0CACA7; color: white; padding: 2%; text-align: center; font-size: 20px; text-transform: uppercase; }
body .price-ticket, body .tick-1 { text-align: center; font-size: 24px; padding-top: 10px; font-weight: bold; color: #0CACA7; border-top: 1px dashed #8C8C8C; border-bottom: 1px dashed #8C8C8C; padding-bottom: 0.9%; clear: both; }
body .tick-1 { border: none; }
body .cont-all .fa { font-size: 20px !important; color: #ccc; margin-right: 5px; }
body .img-content img { max-width: 180px; margin-top: 20px; }
body .lich-thi-dau { background: #EBEBEB; margin-bottom: 40px; }
body .hotline-info { float: right; }
body .img-content { max-width: 250px; }
body .all-ct-button { font-weight: bold; margin-top: 10px; text-align: center; border-left: 2px solid #ccc; width: 100% !important; }
body .all-ct-button .button-chi-tiet { margin-bottom: 5%; }
body .all-ct-button .button-chi-tiet .button-price-ct-1 { color: orange; font-size: 20px; }
body .all-ct-button .button-chi-tiet .button-price-ct { font-size: 20px; }
body .all-ct-button .button-chi-tiet .button-text { width: 100%; }
body .all-ct-button .button-chi-tiet .button-text button { border-radius: 20px; border: none; background: #F26F21; color: white; padding: 5% 15%; }
body .chi-tiet { padding-top: 10%; font-size: 16px; }
body .chi-tiet .fa { padding-right: 2%; }
body .title-info { text-transform: uppercase; font-size: 30px; font-weight: bold; }
body .tournaments-button { text-align: center; }
body .button-price1 { max-width: 150px; }
body .button-price2 { max-width: 150px; }
body img { width: 100%; }
body :focus { outline: 0; }
body .button-all, body .button-price1, body .button-price2 { height: 50px; border-radius: 30px; border: none; color: white; text-transform: uppercase; font-weight: bold; width: 100%; }
body .tournaments-price1 { color: #F26F21; font-weight: bold; font-size: 20px; }
body .tournaments-price2 { color: #0CACA7; font-weight: bold; font-size: 20px; }
body .button-price1 { background: #F26F21; }
body .button-price2 { background: #0CACA7; }
body .leader-all-1 { width: 100%; display: flex; margin-bottom: 3%; }
body .leader-all-1 .leader-img { width: 60px; height: 60px; margin-right: 5%; }
body .leader-all-1 .leader-img img { width: 100%; }

.header { background: white; }
.header #open-menu, .header #open-search-form { position: absolute; top: 55px; font-size: 20px; display: none; z-index: 99; }
.header #open-menu { left: 15px; }
.header #open-search-form { right: 15px; }
.header .header-top { background-color: #0CACA7 !important; }
.header .header-top .header-text-top { padding: 1rem 0; background-color: #fff; text-transform: uppercase; }
.header .header-top .header-langauge { float: right; padding: .8rem 0; }
.header .header-top .header-langauge img { width: 25px; height: 15px; border: 1px solid #fff; margin: 0 5px; }
.header .header-center { box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); background: red !important; }
.header .header-center #search-form-mobile { width: 100%; display: none; }
.header .header-center #search-form-mobile input { width: 100%; }
.header .header-center #search-form-mobile button { position: absolute; right: 25px; top: 3px; }
.header .header-center .main-nav { padding-top: 25px; }
.header .header-center .main-nav #remove-menu { padding: 10px; z-index: 10; cursor: pointer; display: none; text-align: right; display: none; color: #fff; z-index: 999; }
.header .header-center .main-nav ul { font-size: 0; }
.header .header-center .main-nav ul li { display: inline-block; position: relative; }
.header .header-center .main-nav ul li:not(:last-child) { margin-right: 3rem; }
.header .header-center .main-nav ul li a { font-size: 14px; text-transform: uppercase; }
.header .header-center .main-nav ul li > i { position: absolute; right: -1.3rem; font-size: 14px; top: 3px; }
.header .header-center .main-nav ul li:hover ul { display: block; }
.header .header-center .main-nav ul li ul { display: none; position: absolute; top: 20px; width: 200px; text-align: left; padding-top: 2px; z-index: 1; }
.header .header-center .main-nav ul li ul li { width: 100%; position: relative; }
.header .header-center .main-nav ul li ul li a { background-color: #e1dddd; display: block; padding: 9px 0 9px 21px; color: #000; font-size: 15px; }
.header .header-center .main-nav ul #search-form-btn { font-size: 17px; line-height: 1; }
.header .header-center .main-nav ul .search-form-header { position: absolute; width: 350px; right: 0; top: calc(100% + 5px); display: none; }
.header .header-center .main-nav ul .search-form-header input { width: 100%; height: 30px; padding-right: 30px; }
.header .header-center .main-nav ul .search-form-header button { font-size: 20px; position: absolute; right: 5px; }
.header .top-header { width: 100%; background: #0CACA7; height: 30px; }
.header .header-menu { width: 100%; height: 64px; background: white; }
.header .header-menu img { width: 100%; }
.header .header-banner { width: 100%; }

.all-box { max-width: 1170px; margin: 0px auto; }
.all-box .content { width: 100%; background: white; padding: 30px 0px; border-radius: 10px; margin-top: 20px; }
.all-box .content .vga { width: 92%; border-radius: 10px; border: 1px solid #ccc; margin: 0px auto; padding: 30px; }
.all-box .content .vga .img-vga { width: 210px; height: 132px; }
.all-box .content .vga .vga-desc { width: 100%; }
.all-box .content .vga .vga-desc .desc-title { font-size: 20px; font-weight: bold; }
.all-box .content .vga .vga-desc .leader-vga a { font-size: 14px; }
.all-box .content .vga .vga-desc .leader-vga a:hover { color: orange; }
.all-box .content .vgs-group { width: 92%; border-radius: 10px; border: 1px solid #ccc; margin: 0px auto; margin-top: 50px; }
.all-box .content .vgs-group .desc-title { font-size: 20px; font-weight: bold; }
.all-box .content .vgs-group .clear { width: 95%; height: 1px; border-bottom: 1px dotted #ccc; clear: both; margin: 0px auto; margin-bottom: 30px; padding-top: 20px; }
.all-box .content .vgs-group .vgs-group-main { width: 100%; margin: 0px auto; padding: 30px; }
.all-box .content .vgs-group .vgs-group-main .img-vgs { width: 210px; height: 132px; margin-left: 20px; }
.all-box .content .vgs-group .vgs-holding, .all-box .content .vgs-group .vgs-media, .all-box .content .vgs-group .vgs-academy, .all-box .content .vgs-group .vgs-event { max-width: 480px; margin-bottom: 30px; line-height: 22px; }
.all-box .content .vgs-group .vgs-holding .vgs-holding-img, .all-box .content .vgs-group .vgs-media .vgs-holding-img, .all-box .content .vgs-group .vgs-academy .vgs-holding-img, .all-box .content .vgs-group .vgs-event .vgs-holding-img { max-width: 318px; height: 74px; }
.all-box .content .vgs-group .vgs-holding .vgs-holding-img img, .all-box .content .vgs-group .vgs-media .vgs-holding-img img, .all-box .content .vgs-group .vgs-academy .vgs-holding-img img, .all-box .content .vgs-group .vgs-event .vgs-holding-img img { width: 100%; }
.all-box .content .vgs-group .vgs-holding .vgsholding-content, .all-box .content .vgs-group .vgs-media .vgsholding-content, .all-box .content .vgs-group .vgs-academy .vgsholding-content, .all-box .content .vgs-group .vgs-event .vgsholding-content { padding-left: 5px; }
.all-box .content .vgs-group .vgs-holding .vgsholding-content p, .all-box .content .vgs-group .vgs-media .vgsholding-content p, .all-box .content .vgs-group .vgs-academy .vgsholding-content p, .all-box .content .vgs-group .vgs-event .vgsholding-content p { font-size: 14px; }
.all-box .content .vgs-group .vgs-holding .vgsholding-content .vgs-holding-title, .all-box .content .vgs-group .vgs-media .vgsholding-content .vgs-holding-title, .all-box .content .vgs-group .vgs-academy .vgsholding-content .vgs-holding-title, .all-box .content .vgs-group .vgs-event .vgsholding-content .vgs-holding-title { width: 83%; font-weight: bold; text-transform: uppercase; padding-top: 7px; font-size: 16px; }
.all-box .content .title-donors { padding: 0px 10px; padding-bottom: 40px; }
.all-box .content .desc-donors { max-width: 350px; border-radius: 10px; border: 1px solid #ccc; margin: 0px auto; height: 370px; font-size: 14px; margin-bottom: 40px; }
.all-box .content .desc-donors .desc-donors-img { text-align: center; padding-top: 15px; }
.all-box .content .desc-donors .desc-donors-text { padding: 10px 20px; }
.all-box .content .support { border: 1px dashed #0C9691; text-align: center; font-size: 18px; width: 100%; padding: 10px; clear: both; height: 100px; }
.all-box .tournaments .tournaments-img { width: 100%; }
.all-box .tournaments .tournaments-title { font-size: 24px; text-transform: uppercase; font-weight: bold; }
.all-box .tournaments .tournaments-desc { line-height: 29px; }
.all-box .tournaments .tournaments-desc .fa { font-size: 18px; color: #ccc; }
.all-box .tournaments .tournaments-desc .tournaments-button { margin-top: 50px; text-align: center; }
.all-box .tournaments .tournaments-system { box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35); border-radius: 10px; padding: 10px; margin-bottom: 40px; border: 1px solid #ccc; width: 100%; }
.all-box .tournaments .tournaments-system button { height: 39px; }
.all-box .tournaments .tournaments-system .tournaments-price1 { text-align: center; padding-top: 18px; font-size: 20px !important; }
.all-box .tournaments .tournaments-system .tournaments-price2 { text-align: center; padding-top: 18px; font-size: 20px !important; }
.all-box .tournaments .tournaments-system .tournaments-system-title { display: flex; border-bottom: 1px dashed #878787; padding: 10px 0px; max-width: 340px; }
.all-box .tournaments .tournaments-system .name { text-transform: uppercase; font-weight: bold; width: 65%; font-size: 20px; }
.all-box .tournaments .tournaments-system .logo { width: 30%; margin: 0px auto; }
.all-box .tournaments .tournaments-system .logo img { max-width: 100px; }
.all-box .tournaments .tournaments-system .tournaments-system-content { padding: 0px 5px; border-bottom: 1px dashed #878787; padding-top: 13px; }
.all-box .form-dki input { margin-bottom: 50px; }
.all-box .title-intro { width: 100%; text-align: center; }
.all-box .title-intro img { max-width: 150px; }
.all-box .title-intro p { font-size: 28px; font-weight: bold; text-transform: uppercase; }
.all-box .am { margin: 0px auto; border-top: 1px dashed #8C8C8C; border-bottom: 1px dashed #8C8C8C; padding-top: 13px; width: 95%; display: flex; }
.all-box .am .time-day { width: 80%; margin: 0px auto; text-align: center; }
.all-box .button-intro { width: 30%; margin: 0px auto; text-align: center; margin-top: 2%; clear: both; }
.all-box .intro-desc-all { width: 95%; margin: 0px auto; margin-top: 30px; border: 1px solid #ccc; }
.all-box .intro-desc-all .intro-desc-title { padding: 10px; background: #004251; color: white; text-align: center; text-transform: uppercase; font-weight: bold; }
.all-box .intro-desc-all .intro-desc { padding: 10px 20px; text-align: justify; }
.all-box .intro-desc-all .table-user th { padding: 10px 20px; }
.all-box .intro-desc-all .table-user .media img { max-width: 100px; }
.all-box .law { line-height: 15px; margin-top: 50px; width: 100%; font-size: 16px; }
.all-box .law p { line-height: 26px; }
.all-box .law button { margin: 0px auto; }
.all-box .bt { text-align: center; margin: 40px 0px; }
.all-box .container { background: #fff; }
.all-box .time { padding-top: 25px; }
.all-box .title { font-size: 30px; font-weight: bold; }
.all-box .title-box { font-size: 17px; background: #EBEBEB; padding: 10px 10px 10px 15px; margin-top: 1%; }
.all-box .banner { width: 100%; padding: 30px 0px 44px 0px; }
.all-box .title-post { font-size: 17px; }
.all-box .text { text-align: justify; }
.all-box .share button { background: #1E6ECD; color: #fff; width: 80px; height: 24px; }
.all-box .nav-post { text-decoration: none; list-style: none; margin: 20px 0px; }
.all-box .list-post { width: 100%; font-size: 30px; border-bottom: 0.05em solid #959595; margin-bottom: 30px; margin-top: 10px; }
.all-box .post-time { color: #9D9D9D; padding-top: 6px; font-style: italic; }
.all-box .post-content { font-size: 15px; }
.all-box .slide { display: flex; width: 100%; margin-bottom: 4%; }
.all-box .slide .banner-left { max-width: 761px; }
.all-box .slide .banner-right { max-width: 376px; margin-left: 5px; }
.all-box .slide .banner-right a { text-decoration: none; color: white; }
.all-box .slide .banner-right a:hover { color: orange; }
.all-box .slide .banner-right .banner-right1 { width: 100%; position: relative; }
.all-box .slide .banner-right .banner-right1 .banner-right-title1 { position: absolute; color: white; bottom: 0; padding-left: 3%; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }
.all-box .slide .banner-right .stm { margin-top: 5px; }
.all-box .all-video { max-width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; }
.all-box .all-video .video-main { width: 324px; margin-top: 50px; }

.post-main { max-width: 350px; margin: 20px 0px; }
.post-main img { margin-bottom: 10px; }

.qc { width: 100%; height: 135px; background: #004251; margin-top: 10px; }

.btn-all { width: 122px; height: 40px; font-size: 18px; border-radius: 50px; background: none; border: 1px solid orange; color: orange; margin-bottom: 50px; transition: 0.3s; text-transform: uppercase; }
.btn-all:hover { background: orange; color: white; transition: 0.3s; }

.all-video-home { color: white; width: 100%; background: #2F2F2F; }

footer { background: linear-gradient(0deg, #0C9691, #0C9691); width: 100%; margin-top: 100px; font-size: 14px; padding: 30px 0px; color: white; }
footer .fa { margin-right: 1%; }
footer .logo-footer { width: 173px; height: 105px; }
footer .icon { margin-left: 120px; float: right; padding-top: 37px; flex-wrap: wrap; display: inline-flex; }
footer .icon .icon-footer { width: 45px; height: 45px; border-radius: 30px; border: 2px solid white; margin-left: 10px; text-align: center; padding-top: 7px; }
footer .Copyright { font-size: 16px; text-align: right; }

@media only screen and (max-width: 1205px) { footer .logo-footer { margin: 0px auto; }
  footer h5 { text-align: center; }
  footer p { text-align: center; }
  footer .Copyright { margin: 0px auto; text-align: center; }
  footer .ft { text-align: center; }
  footer .ft .icon { float: none; margin: 0px auto; flex-wrap: wrap; }
  footer .ft .icon .icon-footer { text-align: center; } }
@media only screen and (width: 1024px) { #bt-home { margin-left: 37%; } }
@media only screen and (max-width: 1024px) { .header-text-top { padding: 7% 0 !important; font-size: 9px !important; }
  .title-info { text-align: center; }
  .tournaments-system { margin: 0px auto; }
  .all-box .tournaments .tournaments-desc .tournaments-button { margin-top: 10px; }
  .vgs-desc { padding-left: 15%; } }
@media only screen and (max-width: 1199px) and (min-width: 992px) { .header .header-infor .form-dki button { margin-left: 35%; } }
@media only screen and (max-width: 991px) { .fix-st { width: 50%; margin: 0px auto; }
  .all-box .am .time-day { text-align: inherit; }
  .tick-1 { border-top: 1px dashed #8C8C8C !important; border-bottom: 1px dashed #8C8C8C !important; padding-bottom: 1% !important; }
  .time-fix { border: none !important; }
  header .header-center .main-nav { background-color: #FFFFFF !important; color: black !important; }
  header .header-center .main-nav ul li { border-bottom: 1px solid #ccc; }
  header .header-center .main-nav ul li a { color: black !important; padding: 3% !important; font-size: 12px !important; }
  header #open-search-form { top: 50px !important; color: #0CACA7; }
  header #open-menu { top: 50px !important; color: #0CACA7; }
  .header-center-image { width: 80%; margin: 0px auto; }
  .header-text-top { display: flex !important; padding: 1% !important; font-size: 9px !important; width: 80%; margin: 0px auto; margin-bottom: -1px !important; }
  .header-center-image { display: flex !important; }
  .button-intro { width: 60% !important; }
  .cont-all { display: flex; }
  body .tab-content .all-ct-button { border: none; }
  body .tab-content .all-ct-button .button-chi-tiet { margin-left: 3%; }
  .all-ct-button { border: none; }
  .header-infor .truy-van { text-align: center; }
  .header-infor .form-dki { text-align: center; }
  .header-infor .hotline-info { text-align: center; margin-top: 3%; float: none; }
  .img-vga { margin: 0px auto; }
  .desc-title { text-align: center; }
  .desc-info { text-align: justify; }
  .all-box .tournaments .tournaments-button { text-align: center; }
  .all-box .tournaments .tournaments-button button { max-width: 150px; text-align: center; }
  .all-box .am { border: none; } }
@media only screen and (max-width: 768px) { .tick-1 { border-top: 1px dashed #8C8C8C !important; border-bottom: 1px dashed #8C8C8C !important; padding-bottom: 1% !important; }
  .cont-1 { margin-right: 5%; }
  .title-info { text-align: center; }
  .all-box .content .vgs-group .vgs-holding .vgsholding-content .vgs-holding-title, .all-box .content .vgs-group .vgs-media .vgsholding-content .vgs-holding-title, .all-box .content .vgs-group .vgs-academy .vgsholding-content .vgs-holding-title, .all-box .content .vgs-group .vgs-event .vgsholding-content .vgs-holding-title { width: 100%; }
  .img-vga { margin: 0px auto; }
  .vga-desc { text-align: justify; }
  .desc-title { text-align: center; }
  .all-box .content .vgs-group .vgs-holding, .all-box .content .vgs-group .vgs-media, .all-box .content .vgs-group .vgs-academy, .all-box .content .vgs-group .vgs-event { margin: 0px auto; text-align: justify; }
  .vgs-holding-img { margin: 0px auto; }
  .clear { display: none; }
  .strike { border-top: 1px dashed #949494; margin: 10px 0px; padding-top: 10px; }
  .all-box .content .title-donors .info-taitro { text-align: center; }
  .all-box .content .title-donors p { text-align: justify; }
  .all-box .content .desc-donors { max-width: 560px; }
  .support { display: none; } }
@media only screen and (max-width: 767px) { .lich-box .col-xs-12 { padding: 0px; }
  .bt1 { margin: 0px auto !important; }
  .bt2 { margin: 0px auto !important; }
  .big { text-align: center !important; }
  .style-top { border-top: 1px dashed #878787; }
  .cont-all .cont-1 { margin: 0px auto; }
  .cont-all .cont-2 { margin: 0px auto; }
  .all-ct-button { display: flex; border: none !important; border: none !important; width: 50%; margin: 0px auto; }
  .all-ct-button .button-text { margin-right: 60px; }
  .img-content { margin: 0px auto; }
  body .tab-content .all-ct-button { border: none; display: flex; margin-left: 0; }
  body .tab-content .all-ct-button .button-chi-tiet { margin-left: 3%; }
  .tab-content .img-content { padding: 0; }
  .ap { padding-right: 15%; }
  .all-box .content .vgs-group .vgs-group-main .img-vgs { margin: 0px auto; }
  .vgs-desc { text-align: center; padding: 0; }
  .button-price1 { width: 150px; }
  .tournaments-title { margin: 10px 0px; }
  .all-box .tournaments .tournaments-desc { margin: 20px 0px; }
  .all-box .tournaments .tournaments-desc .toumaf { border-bottom: 1px dashed #878787; }
  .all-box .tournaments .tournaments-desc .mb { display: flex; }
  .all-box .tournaments .tournaments-desc .mb .tournaments-desc { border-bottom: 1px dashed #878787; }
  .all-box .tournaments .tournaments-desc .mb .main-1 { margin-right: 10px; }
  .all-box .tournaments .tournaments-system .tournaments-price1 { display: none; }
  .all-box .tournaments .tournaments-system .tournaments-price2 { display: none; }
  .all-box .tournaments .tournaments-system .button-price1 { margin-top: 10%; float: right; }
  .all-box .tournaments .tournaments-system .button-price2 { margin-top: 10%; float: left; }
  .all-box .tournaments .tournaments-system .tournaments-system-title { border: none; }
  .all-box .tournaments .tournaments-system .logo { width: 33%; }
  .all-box .tournaments .tournaments-system .logo img { width: 73px; height: 67px; margin: 0px auto; }
  .all-box .tournaments .tournaments-system .name { width: 80%; font-size: 24px; }
  .all-box .tournaments .tournaments-system .tournaments-system-content { padding-left: 5%; display: flex; border: none; border-bottom: 1px dashed #878787; } }
@media only screen and (max-width: 760px) { .fix-st { width: 55%; margin: 0px auto; } }
@media only screen and (max-width: 699px) { .fix-st { width: 70%; margin: 0px auto; } }
@media only screen and (max-width: 640px) { .fix-st { width: 70%; margin: 0px auto; }
  .all-ct-button { display: flex; border: none !important; }
  .all-ct-button .button-text { margin-right: 30px; }
  .div { display: flex; padding-left: 9%; }
  .img-content { max-width: 200px; }
  .title-menu-tab { padding-top: 5%; }
  .all-box .title-intro p { padding-top: 2%; }
  .header-infor .truy-van { text-align: center; }
  .header-infor .form-dki { text-align: center; }
  .header-infor .hotline-info { text-align: center; margin-top: 3%; float: none; }
  .tournaments-system-content { width: 100%; }
  .button-intro { border-bottom: 1px dashed #878787; border-top: 1px dashed #878787; margin-top: 92px; padding: 3% 0; }
  .img-vgs { margin: 0px auto; }
  .all-box .tournaments .tournaments-system .tournaments-price1 { display: none; }
  .all-box .tournaments .tournaments-system .tournaments-price2 { display: none; }
  .all-box .tournaments .tournaments-system .button-price1 { margin-top: 13%; float: right; }
  .all-box .tournaments .tournaments-system .button-price2 { margin-top: 13%; float: left; }
  .tournaments-title { text-align: center; }
  .all-box .slide .banner-right { display: none; }
  .all-box .title-intro img { margin-left: 2%; }
  .all-box .am .time-day { margin: 1px; margin: 0px auto; }
  .all-box .am { width: 100%; float: left; } }
@media only screen and (max-width: 760px) { .fix-st { width: 90%; margin: 0px auto; } }
@media only screen and (max-width: 499px) { .all-box .am .time-day { width: 100%; } }
.img-vgs { margin: 0px auto; }

@media only screen and (max-width: 480px) { .modal-content .modal-title { font-size: 16px !important; }
  .modal-content .fa-times { font-size: 26px; }
  .info-user { font-size: 14px !important; }
  .law { font-size: 14px !important; }
  .user { font-size: 14px !important; }
  .fix-icon-all { font-size: 13px !important; }
  .tournaments-system-content { font-size: 14px !important; }
  #bk1 { padding: 3% 21%; }
  .qc-mobile { padding: 0; }
  .all-box .title-intro { padding: 0 10px; }
  .all-box .title-intro p { font-size: 2.5rem; }
  .button-intro { width: 90% !important; padding: 5% 0px; }
  .fix-style-button { width: 100% !important; }
  .big { padding-left: 0; }
  .cont-all { padding-left: 0; }
  .all-ct-button { width: 100%; } }
.all-service { display: flex; flex-wrap: wrap; }
.all-service .service-info { border: 1px solid  #0BABA6; padding: 10px; }
.all-service .service-info p { margin: 0; }
.all-service .service-mini:not(:first-child) { margin-left: 2%; }
.all-service .service-mini { transition: 0.3s; }
.all-service .service-mini:hover { background: #0BABA6; color: white; transition: 0.3s; }

@media only screen and (max-width: 452px) { .all-box .am { width: 100% !important; } }
@media only screen and (max-width: 450px) { .tournaments-price1 { padding-right: 1%; }
  .header-infor .form-dki { text-align: center; }
  .header-infor .form-dki input { margin-bottom: 5%; }
  .header-infor .form-dki button { margin: 11%; margin-bottom: 1%; } }
@media screen and (max-width: 400px) { .all-ct-button { padding: 0 !important; width: 100%; }
  .all-ct-button .button-chi-tiet { margin: 0px auto; } }
@media only screen and (max-width: 375px) { header #open-search-form { top: 50px !important; color: #0CACA7; }
  header #open-menu { top: 50px !important; color: #0CACA7; }
  .all-ct-button { width: 100%; }
  .all-ct-button .button-chi-tiet { margin: 0px auto; } }
@media only screen and (max-width: 360px) { body .nav-tabs > li { padding: 0; }
  .all-box .am { width: 100%; }
  .all-ct-button { width: 84%; }
  .big { padding: 0; }
  .cont-all { padding: 0; } }
@media only screen and (max-width: 340px) { .fix-st { width: 100%; margin: 0px auto; }
  body .nav-tabs > li { padding: 0; }
  .header-infor .form-dki { text-align: center; }
  .header-infor .form-dki input { margin-bottom: 5%; }
  header .header-center .main-nav { top: 68px !important; }
  .all-box .tournaments .tournaments-system .tournaments-system-content { padding-left: 0; }
  .all-box .tournaments .tournaments-system .tournaments-system-content .main-1 { margin-right: 0; }
  .img-vgs { margin: 0px auto; }
  .tournaments-system-content { width: 100%; }
  .all-box .am { width: 100%; } }
@media only screen and (max-width: 320px) { .tick-1 { border-top: 1px dashed #8C8C8C !important; border-bottom: 1px dashed #8C8C8C !important; padding-bottom: 2% !important; }
  .all-ct-button { width: 100%; margin-left: 0 !important; }
  header #open-search-form { top: 40px !important; color: #0CACA7; }
  header #open-menu { top: 40px !important; color: #0CACA7; } }
.sub-3 { display: none; position: absolute; top: 20px; width: 200px; text-align: left; padding-top: 2px; z-index: 1; left: 200px !important; top: 4px !important; }

/*# sourceMappingURL=styles.css.map */
